body {
    background-color: #ffcb0085; 
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background-color: #83daee;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: #00ff582e;
}
