{% extends "base.html" %}
{% block title %}Forgot Password{% endblock title %}

{% block content %}

<div class = "container">
    <div class= "row">
        <div class= "col-md-8 mx-auto card">
            {% if request.GET.m == "s" %}
            <h3>Password reset link is sent to your email address. please check your email immediately. </h3>
            {% else %}
            <h3 class="text-center">Enter your email used in making customer account to get Password reset link </h3> <hr>
            {% if request.GET.m == "e" %}
            <h4 class = "text-danger">Something went wrong, Please enter your email again </h4>
            {% endif %}
            <form class="text-center" action="" method = "POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Get Reset Link </button>
            </form>
            {% endif %}
        </div>
    </div>
</div>






<style>
    body {
        background-color: #ffcb0085; 
    }
    .card {
        background-color: #83daee;
        margin-top: 30px;

    }
    h3, h4 {
        color: #660b47;
        font-family: f;
    }
    
</style>
{% endblock %}